<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
  </head>
  <body>
    <h1>Food Trucks</h1>

    <div id="map"></div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap">
    </script>

    <form class="search">
      Search closest foodtrucks by location:</br>
      <input type="text" name="address">
      <br>
      <input type="submit" value="Submit">
    </form>

    <% @foodtrucks.each do |foodtruck| %>
      <div class='block'>
        <div id='name'>name: <%= foodtruck.name.downcase %></div>
        <div>address: <%= foodtruck.address.downcase %></div>
        <% if foodtruck.description %>
          <div>menus: <%= foodtruck.description.downcase %></div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>

