<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple markers</title>
  </head>
  <body>
    <h1>FoodTrucks</h1>

    <div id="map"></div>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?signed_in=true&callback=initMap">
    </script>

    <% @foodtrucks.each do |foodtruck| %>
      <div class='block'>
        <div id='name'>Name: <%= foodtruck.name %></div>
        <div>Address: <%= foodtruck.address %></div>
        <% if foodtruck.description %>
          <div>Menus: <%= foodtruck.description %></div>
        <% end %>
      </div>
    <% end %>
  </body>
</html>