html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.block {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10%;
  margin-right: 10%;
}

#map {
  width: 70%;
  height: 70%;
  margin-top: 10%;
  margin: 0 auto;
}
